.stats-container{
   width: 15%;
    border-left: 1px solid #d2d2dd;
    border-top: 1px solid #d2d2dd;
    border-radius: 5px;
    margin-top: 10px; 
    background: white;
    overflow: scroll;
}
.stats-container::-webkit-scrollbar{
    display: none;
}

.heading button{
    background: transparent;
    outline: none;
    border: 1px solid #d2d2dd;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.stats{
    width: 90%;
    margin: auto;
    padding-top: 10px;
}


.quick-stats{
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 2px;
}
.quick-stats img{
    width: 20px;
}

.card{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    background: #141428;
}

.name{
    font-size: 12px;
    color: #727279;
    font-weight: 500;
}

.card-text p{
    font-weight: bold;
    font-size: 14px;
    color: #dcf0f0;
}

.card-text p span{
    font-weight: normal;
    font-size: 12px;
    background: cyan;
    border-radius: 5px;
    margin-left: 3px;
    padding: 2px;
    color: #141414;
}

.card-graph{
    width: 50%;
}

.link-title{
    font-weight: bold;
}

.quick-links button{
width: 100%;
height: 40px;
margin-top: 10px;
border: none;
outline: none;
background: transparent;
box-shadow: 5px 5px 10px #0D8A72;
border-radius: 5px;
font-weight: bold;
font-size: 14px;
background: #141428;
color: #dcf0f0;
cursor: pointer;
}