.all-bikes{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.charts{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.available, .lease-status{
    width: 49%;
}

.available{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.all-available, .all-bookings{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid #d8d8dd;
    border-radius: 10px;
    padding: 10px;
}

.all-available-bikes{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

.bikes{
    display: flex;
    align-items: center;
    gap: 5px;
}

.img-container{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container img{
    width: 80%;
    height: 80%;
    object-fit: contain;  
}

.bikes-text{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.bikes-count{
    font-weight: bold;
}

.all-available-bikes button{
    border: 1px solid #727279;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.condition-bar{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px ;
}

.condition-bar p{
    display: flex;
    align-items: center;
    gap: 5px;
}

.span{
    background: cyan;
    padding: 2px;
    border-radius: 5px;
    color:  white;
}

.bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.green{
    height: 10px;
    width: 80%;
    border-radius: 5px;
    background: green;
}
.yellow{
    height: 10px;
    width: 9%;
    border-radius: 5px;
    background: rgb(250, 250, 2);
}
.red{
    height: 10px;
    width: 5%;
    border-radius: 5px;
    background: red;
}


.key{
    display: flex;
    align-items: center;
    font-size: 12px;
    justify-content: space-between;
    border-top: 1px solid #ededf3;
    margin-top: 10px;
}

.key span{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    
}
.green-span{
    background: green;
}
.yellow-span{
    background: yellow;
}
.red-span {
    background: red;
}

.bookings-numbers{
    display: flex;
    align-items: center;
    gap: 5px;
}

.bookings-numbers p span{
    background: cyan;
    padding: 1px;
    border-radius: 5px;
    font-size: 12px;
}

.graph{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
    padding-bottom: 15px;
}

.graph-nav{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    border-top: 1px solid #d8d8dd;
    border-bottom: 1px solid #d8d8dd;
    margin-top: 5px;
    
}

.graph-nav ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.graph-nav li{
    list-style: none;
    font-size: 14px;
    cursor: pointer;
}

.lease-status{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: start;
    border: 1px solid #d8d8dd;
    border-radius: 5px;
    padding: 10px;
}

.heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lease-groups{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 25px;
    
}

.lease-group img{
    width: 20px;
}

.weekly-leases img{
    width: 12px;
}

.weekly-leases p{
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid #d8d8dd;
    border-radius: 5px;
    padding: 5px;
}

.lease-group{
    width:30% ;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.status{
    display: flex;
    align-items: center;
    font-weight: bold;
}

.status img{
    width: 40px;
}

.filter select{
    outline: none;
    border: 1px solid #d8d8dd;
    border-radius: 5px;
    height: 25px;
}

#middle{
    border-left: 2px solid #727279;
    border-right: 2px solid #727279;
}

.number{
    font-weight: bold;
}

.divider{
    width:100%;
    background: #727279;
    height: 2px;
}