.header{
    width: 100%;
    height: 10vh;
    background: #001400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 200px;
    margin-left: 10px;
}

.activities{
    display: flex;
    align-items: center;
    gap: 20px;
}
.left-menu{
    display: flex;
    align-items: center;
    gap: 50px;
}
.activity{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: #141428;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.activity img{
    width: 60%;
    
}



.login-card{
    width: 300px;
    height: fit-content;
    box-shadow: 5px 5px 10px #0D8A72;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top: 11vh;
    right: 400px;
    background: #141428;
}


.admin-profile{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 30px;
    cursor: pointer;
}

.admin-profile p{
    color: white;
    font-weight: 500;
}

.user-profile{
    width:  40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.activity{
    display: flex;
    align-items: center;
}

.activity span{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: red;
    position: absolute;
    top: 6px;
    right: 7px;
   
}

.header button{
    width: 150px;
    height: 40px;
    color: #141414;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    background: #c8f028;
    border-radius: 5px;
    margin-right: 10px;
    border:none;
    cursor: pointer;
}