.home {
    width: 100%;
    height: 90vh;
    display: flex;
}

.main {
    width: 65%;
    padding-top: 10px;
    background: white;
    overflow-y: scroll;
}
.main::-webkit-scrollbar{
    display: none;
}

.map{
    width: 100%;
    height: 60vh;
    background-image: url('../../assets/GM-route-for-matatu-screen-shot.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}