.add-bike{
    width: 90%;
    margin:auto;
}

.form-title{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.add-bike-form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.make-details{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.make-details .input-field{
    width: 49%;
    
}
.input-field{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
    margin-bottom: 10px;
    
}



.input-field input, select{
    height: 40px;
    padding-left: 5px;
    outline: none;
    border: 1px solid #727279;
    border-radius: 5px;
    background: transparent;
    box-shadow: 5px 5px 10px #0D8A72;
    background: #141428;
    color: #dcf0f0;
}

#color{
    width: 100%;
}
.add-bike-form button{
    width: 100%;
    height: 40px;
    outline: none;
    background: transparent;
    border: 1px solid #727279;
    border-radius: 5px;
    background: #141428;
    color: #dcf0f0;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
}
