.side-bar{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    border-right: 1px solid #727279;
    background: #141428;
    overflow-y: scroll;
    color: #dcf0f0;
}
.side-bar::-webkit-scrollbar{
    display: none;
}

.main-dashboard{
    width: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.button{
    display: flex;
    align-items: center;
    gap: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    height: 40px;
    width: 80%;
    padding-left: 5px;
}

.fleet-management, .bookings, .customers{
    width: 100%;
    margin-left: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.title{
    font-weight: 400;
    font-size: 16px;
    color: #727279;
}

.links{
    width: 100%;
    display: flex;
}
.links ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.links ul li{
    border-radius: 5px;
    height: 40px;
    width: 80%;
    box-shadow: 5px 5px 10px #0D8A72;
    padding-left: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.links ul li:hover{
        border: 1px solid #727279;
        border: none;
}



.links ul li a{
    list-style: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.links ul li a{
    text-decoration: none;
    color:inherit;
}
.links ul li img{
    width: 20px;
}