
.login-title{
    font-size: 36px;
    font-weight: 600;
    color: #c8f028;
    text-align: center;
}

.login-form{
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    color: #dcf0f0;

}
.login-form button{
    width:100%;
}

.login-form p span{
    cursor: pointer;
    color: cyan;
}
.form-input-field{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #dcf0f0;
}

.form-input-field input{
    width: 100%;
    height: 40px;
    background: #dcf0f0;
    border: none;
    border-radius: 5px;
    outline: none;
    padding-left: 5px;
}